<header>
  <div class="logo">
    <h1>Tech Tasks</h1>
  </div>
  <div class="menu">
    <nav>
      <ul>
        <li>
          <a routerLink="/task-1" routerLinkActive="active-link"> Task 1 </a>
        </li>
        <li>
          <a routerLink="/task-2" routerLinkActive="active-link"> Task 2 </a>
        </li>
        <li>
          <a routerLink="/task-3" routerLinkActive="active-link"> Task 3 </a>
        </li>
        <li>
          <a routerLink="/task-4" routerLinkActive="active-link"> Task 4 </a>
        </li>
        <li>
          <a routerLink="/task-5" routerLinkActive="active-link"> Task 5 </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
